<h1>Listing Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Creater</th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.title %></td>
        <td><%= room.creater %></td>
        <td><%= link_to 'Show', room %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
<%= link_to 'New Room', new_room_path %>
<p>

<h1>Listing Users</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>id</th>
      <th>room_id</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.status %></td>
        <td><%= user.id %></td>
        <td><%= user.room_id %></td>        
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
<h1>New panel appointments</h1>
<%= form_tag url_for(:controller => 'home', :action => 'appointment'), :method => 'get' do %>

User: 
	<%= select_tag 'user', options_for_select(@users.collect{ |u| u.name }) %> 
add to 
	<%= select_tag 'room', options_for_select(@rooms.collect{ |u| u.title }) %>
room
<p>
  <%= submit_tag("Ðppoint") %>
<% end %>

